
BUSINESSLOGIC/BACKOFFICE/SQT.Symphony.BusinessLogic.BackOffice.BLL/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BUSINESSLOGIC/CONFIGURATION/SQT.Symphony.BusinessLogic.Configuration.BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.dll
*.suo
